{% extends "@Platform/layout.html.twig" %}
{% block title %}{{ 'Modifier une annonce'|trans }} - {{ parent() }}{% endblock %}

{% block ocplatform_body %}

    <h2>{{ 'Modifier une annonce'|trans }}</h2>

    {{ include("@Platform/Advert/form.html.twig") }}

    <p>
        {% trans %}Vous éditez une annonce déjà existante, merci de ne pas changer l'esprit général de l'annonce déjà publiée{% endtrans %}
    </p>

    <p>
        <a href="{{ path('oc_platform_view', {'id': advert.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            {{ 'Retour à l\'annonce'|trans }}
        </a>
    </p>

{% endblock %}