{% extends 'base.html.twig' %}

{% block body %}
	<p>Hello World <em>{{ nom }}</em> !</p>
    {{ markdownHtml|raw }}
    {{ markdownTxt|mardownify }}

	<ul>
		<li>Formatage de nombre, version config FR: {{ hight_int|number_format }}, version localisé: {{ hight_int|localizednumber }}</li>
		<li>Accès à <a href="{{ path('oc_platform_view', { 'id': advert_id }) }}">l'annonce {{ advert_id }}</a></li>
	</ul>

{% endblock %}