{% extends "@Platform/layout.html.twig" %}
{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block ocplatform_body %}

    <h2>Liste des annonces</h2>
    <p><em>{{ random_msg }}</em></p>
    <ul>
        {% for advert in listAdverts %}
            <li>
                <a href="{{ path('oc_platform_view', {'id': advert.id}) }}">{{ advert.title }}</a>
                par {{ advert.author }},
                le {{ advert.date|date('d/m/Y') }}
            </li>
        {% else %}
            <li>Pas d'annonce pour le moment.</li>
        {% endfor %}
    </ul>

    <h3>Quelques candidatures</h3>
    <ul>
        {% for app in listApplication %}
        <li>
            {% dump(app) %}
            [<a href="{{ path('oc_platform_view', {'id':app.advert.id}) }}">#{{ app.advert.id }}</a>] <strong>{{ app.author }}</strong>, le {{ app.date|date('d/m/Y') }}:
            <em>{{ app.content }}</em>
        </li>
        {% endfor %}
    </ul>

{% endblock %}