{% extends "@Platform/layout.html.twig" %}
{% block title %}{{ 'Lecture d\'une annonce'|trans }} #{{ advert.id }} - {{ parent() }}{% endblock %}

{% block ocplatform_body %}

	<h2>#{{ advert.id }} {{ advert.title }}</h2>
    {# On vérifie qu'une image soit bien associée à l'annonce #}
    {% if advert.image is not null %}
		<p><img src="{{ asset(advert.image.WebPath) }}" alt="{{ advert.image.alt }}" style="max-width: 500px; height: auto;"></p>
    {% endif %}
	<i>Par {{ advert.author }}, le {{ advert.date|date('d/m/Y') }}</i>

	<div class="well">
        {{ advert.content }}
	</div>

	<p>
		<a href="{{ path('oc_platform_home') }}" class="btn btn-default">
			<i class="glyphicon glyphicon-chevron-left"></i>
			{{ 'Retour à la liste'|trans }}
		</a>
		{% if is_granted('ROLE_AUTEUR') %}
		<a href="{{ path('oc_platform_edit', {'id': advert.id}) }}" class="btn btn-default">
			<i class="glyphicon glyphicon-edit"></i>
			{{ 'Modifier l\'annonce'|trans }}
		</a>
		{% endif %}
		{% if is_granted('ROLE_ADMIN') %}
		<a href="{{ path('oc_platform_delete', {'id': advert.id}) }}" class="btn btn-danger">
			<i class="glyphicon glyphicon-trash"></i>
			{{ 'Supprimer l\'annonce'|trans }}
		</a>
		{% endif %}
	</p>


	{% if not advert.categories.empty %}
	<p>
		Cette annonce est parue dans les catégories suivantes:
		{% for category in advert.categories %}
			{{ category.name }}{% if not loop.last %}, {% endif %}
		{% endfor %}
	</p>
	{% endif %}


    {% if listAdvertSkills|length > 0 %}
	<div>
		Cette annonce requiert les compétences suivantes :
		<ul>
			{% for advertSkill in listAdvertSkills %}
				<li>{{ advertSkill.skill.name }} : niveau {{ advertSkill.level }}</li>
			{% endfor %}
		</ul>
	</div>
    {% endif %}

    {% for application in listApplications %}
		{% if loop.first %}
			<h4 style="margin-top: 30px;">{{ loop.length }} Candidatures pour cette annonce</h4>
			<ul>
		{% endif %}

		<li>
			De <strong>{{ application.author }}</strong>,
			le {{ application.date|date('d/m/Y') }}:
			<em>{{ application.content }}</em>
		</li>

		{% if loop.last %}
			</ul>
		{% endif %}

	{% else %}
		<p>Aucune Candidatures pour cette annonce.</p>
	{% endfor %}


	<p>Session utilisateur en cours: {{ userId }}, tag: {{ tag }}</p>
{% endblock %}