{% extends "base.html.twig" %}
{% set title = 'Supprimer une annonce'|trans %}

{% block bodycontent %}
    <p>{{ 'advert.confirm_delete'|trans({'%title%': advert.title }) }}</p>

    {# On met l'id de l'annonce dans la route de l'action du formulaire #}
    <form action="{{ path('platform_delete', {'advert_id': advert.id}) }}" method="post">
        <a href="{{ path('platform_view', {'id': advert.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            {{ 'Retour à l\'annonce'|trans }}
        </a>
        {# Ici j'ai écrit le bouton de soumission à la main #}
        <input type="submit" value="Supprimer" class="btn btn-danger" />
        {# Ceci va générer le champ CSRF #}
        {{ form_rest(form) }}
    </form>

{% endblock %}
