{% extends "base.html.twig" %}
{% set title = 'Lecture d\'une annonce'|trans ~ ' #' ~ advert.id %}

{% block bodycontent %}
    {% include('advert/bloc/advert.inc.html.twig') %}

	<p>
		<a href="{{ path('platform_home') }}" class="btn btn-default">
			<i class="glyphicon glyphicon-chevron-left"></i>
			{{ 'Retour à la liste'|trans }}
		</a>
		{% if is_granted('ROLE_EDITOR') %}
		<a href="{{ path('platform_edit', {'id': advert.id}) }}" class="btn btn-default">
			<i class="glyphicon glyphicon-edit"></i>
			{{ 'Modifier l\'annonce'|trans }}
		</a>
		{% endif %}
		{% if is_granted('ROLE_ADMIN') %}
		<a href="{{ path('platform_delete', {'advert_id': advert.id}) }}" class="btn btn-danger">
			<i class="glyphicon glyphicon-trash"></i>
			{{ 'Supprimer l\'annonce'|trans }}
		</a>
		{% endif %}
        {% if is_granted('ROLE_USER') %}
            <a href="{{ path('platform_advert_signup', {'id': advert.id}) }}" class="btn btn-primary">
                <i class="glyphicon glyphicon-hand-up"></i>
                {{ 'advert.application.candidate'|trans }}
            </a>
        {% endif %}
	</p>


	{% if not advert.categories.empty %}
	<p>
		{{ 'advert.catlist'|trans }}
		{% for category in advert.categories %}
			{{ category.name }}{% if not loop.last %}, {% endif %}
		{% endfor %}
	</p>
	{% endif %}


    {% if listAdvertSkills|length > 0 %}
	<div>
		{{ 'advert.skill_require'|trans }}
		<ul>
			{% for advertSkill in listAdvertSkills %}
				<li>{{ advertSkill.skill.name }} : {{ 'niveau'|trans }} {{ advertSkill.level }}</li>
			{% endfor %}
		</ul>
	</div>
    {% endif %}

    {% for application in listApplications %}
		{% if loop.first %}
			<h4 style="margin-top: 30px;">{{ 'advert.display_nb_app'|transchoice(loop.length) }}</h4>
			<ul>
		{% endif %}

		<li>
            <strong>{{ 'advert.byauthor'|trans({'%author%': application.author}) }}</strong>
			(réside à {{ application.city }}),
            {{ 'advert.thedate'|trans({'%date%': application.date|date('d/m/Y')}) }}
			<em>{{ application.content|mardownify }}</em>
		</li>

		{% if loop.last %}
			</ul>
		{% endif %}

	{% else %}
		<p>{{ 'advert.no_application'|trans }}</p>
	{% endfor %}


	<p>Session utilisateur en cours: {{ userId }}, tag: {{ tag }}</p>
{% endblock %}
